.main {
  margin: 30px auto;
  width: 55%;
  text-align: center;
  size: 45px;
}

.title {
  margin-top: 55px;
  margin-bottom: 20px;
}
.city-search {
  margin-top: 5px;
  margin-bottom: 60px;
}
h6 {
  margin-top: 0px;
}
.chemicals {
  margin-top: 155px;
}
.learn-more {
  padding: 15px;
}
.aqi {
  margin-top: 20px;
}
